body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
}

header {
    background-color: #3b3b3b;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #9e63b6;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #525252;
    color: #e65242;
}

section {
    padding: 2rem;
    border-bottom: 1px solid #444;
}

section h2 {
    color: #9b59b6;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #3b3b3b;
}

.media {
     width: 17%; 
     height: 17%;
     display: block;
     margin: 0 auto;
     object-fit: contain;
}

.mediavd {
    width: 85%;
    height: 85%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.mediaaudio {
    text-align: center;
}

.satu {
    color: blueviolet;
}

.dua {
    color: blueviolet;
}

.tiga {
    color: blueviolet;
}

.divfoto {
    display: flex;
    gap: 0,9;
    justify-content: center;
    align-items: center;
}